/* src/components/ExperimentsSection.css */
.experiments-section {
  padding: 10vw 5vw;
  background-color: var(--bg-dark);
}

.experiments-section h2 {
  font-size: clamp(2.5rem, 5vw, 4rem);
  text-align: center;
  margin-bottom: 2rem;
}

.exp-grid {
  display: grid;
  /* Bu satır, yan yana sığdığı kadar kart koyar ve minimum 300px genişliğinde olmalarını sağlar. */
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

.exp-card {
  background-color: #1a3232;
}

.exp-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  display: block;
}

.exp-card p {
  padding: 1rem;
  margin: 0;
  font-family: var(--heading-font);
}